<section class="sandbox" ng-controller="SandBoxController" >
    <a ui-sref="home">Home</a>

    <p>This is the sandbox.  You can also get here via url.</p>

    <a ui-sref=".componentcow">Show Component Cow</a>
    <a class="kitty" ui-sref=".componentkitty">Show Component Kitty</a>
    <div ui-view></div>


    <hr />

    <div id="llama-container">
        <!-- <button ng-click="vm.addLlama()">Add Component Llama</button> -->
        <button ng-click="test()">Add Component Llama</button>
        <sp-component-llama></sp-component-llama>

    </div>

    <hr />
    <div class="test-image">
        <p>If you see an image below, image serving is working:<p>
        <img src="/img/sharibble.png"></img>
    </div>
    <hr />

</section>